@model EKomplet.Models.Business

@{
    ViewData["Title"] = "Details";
}

<h1>Detalher om @Html.DisplayFor(model => model.BusinessName)</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Navn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class="col-sm-2">
            Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            Postnummer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            Distrikt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusinessID">Rédiger</a> |
    <a asp-action="Index">Tilbage</a>
</div>