@model IEnumerable<EKomplet.Models.Business>

@{
    ViewData["Title"] = "Index";
}

<h1>Butikker</h1>

<p>
    <a asp-action="Create">Tilføj butik</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
               Adresse
            </th>
            <th>
                Postnummer
            </th>
            <th>
                Distrikt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusinessID">Rédiger</a> |
                <a asp-action="Details" asp-route-id="@item.BusinessID">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.BusinessID">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
