@model EKomplet.ServiceLayer.ViewModel.DeleteSalesmanFromDistrictModelView
@{
    ViewData["Title"] = "DeleteSalesmanDistrict";
}


<h3>Vil du gerne slette @Html.DisplayFor(m => m.salesmanDTO.FullName) fra distriktet?</h3>


<form asp-action="DeleteSalesmanDistrictConfirmed" asp-route-id="@Model.salesmanDTO.SalesmanID" asp-route-myVar="@Model.district.DistrictID">
    <input type="hidden" asp-for="@Model.salesmanDTO.SalesmanID"/>
    <input type="submit" value="Slet sælger fra distrikt" class="btn btn-danger"/> |
    <a asp-action="Details" asp-route-id="@Model.district.DistrictID">Tilbage</a>
</form>